<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos">
      <ion-icon name="tennisball"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
