<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bienvenido a RedSports!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="contenido">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="login(validations_form.value)">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Iniciar sesión</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
    
            <ion-item>
              <ion-input type="password" formControlName="password" class="form-controll" required placeholder="Contraseña"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          </div>
          <div padding>
            <ion-button size="large" color="success" expand="block" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Entrar</ion-button>
            <ion-button size="large" color="secondary" (click)="register()" expand="block">Registro</ion-button> 
          </div>
          
          <div padding>
            <label class="error-message">{{errorMessage}}</label>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>