<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
        <ion-button (click)="userProfile()">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
        <ion-button (click)="search()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><strong>Evento</strong></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <img [src]="'assets/'+imagen+'.png'" style="width:60px; height: 60px; margin: 15px; margin-left: 5px"/>
    <ion-label>
      <h1> {{ evento.titulo }} </h1>
      <p> Ubicacion: {{ evento.ubicacion }} </p>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="borrarEvento()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col style="background:#3498b9; border:1px solid black; text-align:center; margin:5px;color: white;">
        <p> {{ evento.descripcion }} </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <ion-button expand='full' color="secondary" block (click)="doPrompt()"  style="margin:10px; width: 46%;float: right;">Invitar</ion-button>
  <ion-button size="medium" expand='full' (click)="apuntarseEnEvento()" [color]=buttonColor style="margin:10px; width: 46%;">{{ participar }}</ion-button>
  
  
</ion-content>
