<ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="secondary">
            <ion-button (click)="userProfile()">
              <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
            <ion-button (click)="search()">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button (click)="logout()">
              <ion-icon slot="icon-only" name="exit"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title><strong>Notificaciones</strong></ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content padding>
        <h5>No Leidos</h5>
        <div id="item" *ngFor="let item1 of itemsPorLeer">
            <ion-card  color="primary" name="element"  style="margin:0px;margin-bottom: 10px">
                <ion-item style="--inner-border-width:0">
                    <ion-icon name="eye" (click)="marcarVisto(item1.key)" style="width: 25px"></ion-icon>
                    <ion-item-group (click)="redirect(item1.enlace)" style="width: 100%">
                        <ion-item-divider style="border-bottom:none">
                            <ion-label><strong>{{item1.titulo}} {{item1.time}}</strong></ion-label>
                        </ion-item-divider>
                        <ion-item-divider style="border-bottom:none">
                            <ion-label style="white-space: normal;">{{item1.texto}}</ion-label>
                        </ion-item-divider>
                    </ion-item-group>
                </ion-item>
            </ion-card>
        </div>
        <h5>Leidos</h5>
        <div id="item" *ngFor="let item2 of itemsLeidos">
            <ion-card color="primary" name="element" style="margin:0px;margin-bottom: 10px">
                <ion-item style="--inner-border-width:0" >
                    <ion-item-group (click)="redirect(item2.enlace)" style="width: 100%" >
                        <ion-item-divider style="border-bottom:none">
                            <ion-label><strong>{{item2.titulo}} {{item2.time}}</strong></ion-label>
                        </ion-item-divider>
                        <ion-item-divider style="border-bottom:none">
                            <ion-label style="white-space: normal;">{{item2.texto}}</ion-label>
                        </ion-item-divider>
                    </ion-item-group>
                </ion-item>
            </ion-card>
        </div>
</ion-content>