<ion-header >
  <ion-toolbar color="primary">
      <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-card style="height:auto">
    <ion-item-divider style="padding-left:0px">
      <ion-searchbar (ioninput)="filterList($event)" style="padding-left:8px"></ion-searchbar>
    </ion-item-divider>
  </ion-card>

  <div id="item" *ngFor="let item of items">
      <ion-card color="primary" name="element" style="margin:0px;margin-bottom: 10px">
          <ion-item [href]="'/evento/' + item.key" style="--inner-border-width:0">
              <img src="assets/pelota.png" style="width:128px;height: 128px" padding/>
              <ion-item-group >
                  <ion-item-divider style="border-bottom:none">
                      <ion-label><strong>{{ item.titulo }}</strong></ion-label>
                  </ion-item-divider>
                  <ion-item-divider style="border-bottom:none">
                      <ion-label>{{ item.descripcion }}</ion-label>
                  </ion-item-divider>
              </ion-item-group>
          </ion-item>
          <ion-label>{{ item.ubicacion }}</ion-label>
      </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [href]="'/crear-evento/'">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>