<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
        <ion-button (click)="userProfile()">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
        <ion-button (click)="search()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><strong>Crear evento</strong></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="fixed"><strong>Titulo</strong></ion-label>
    <ion-input [(ngModel)]="nombreEvento" type="text" placeholder="Nombre del evento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"><strong>Descripcion</strong></ion-label>
    <ion-input [(ngModel)]="descripcionEvento" type="text" placeholder="Descripcion del evento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed"><strong>Ubicacion</strong></ion-label>
    <ion-input [(ngModel)]="ubicacionEvento" type="text" placeholder="Ubicacion del evento"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addEvent(nombreEvento, descripcionEvento, ubicacionEvento)" 
      [routerLink]="'/tabs/eventos/'">¡Añadir Evento!</ion-button>
    
</ion-content>